[submodule "jaxdb"]
	path = jaxdb
	url = https://github.com/jaxdb/jaxdb.git
[submodule "jaxsb"]
	path = jaxsb
	url = https://github.com/jaxsb/jaxsb.git
[submodule "jetrs"]
	path = jetrs
	url = https://github.com/jetrs/jetrs.git
[submodule "libj"]
	path = libj
	url = https://github.com/libj/libj.git
[submodule "openjax"]
	path = openjax
	url = https://github.com/openjax/openjax.git
